.footer .navbar {
    max-width: 500px;
    float: right;
    padding: 0;
    margin: 0;
    display: flex;
    justify-items: flex-end;
}
.footer .navbar a {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin: 0;
}
.footer .list-group-item {
    margin: 0;
    font-size: 24px;
    color: white;
}
.footer .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    display: flex;
    margin: 0;
    padding: 10px;

    flex-flow: row wrap;
}
.foooter .col a {
    display: block;
    color: white;
}
.footer .container {
    max-width: 1010px;
    margin-left: 455px;
}
.footer .contact {
    padding-left: 25px;
    padding-top: 1%;
}
